@model DetailsDTO


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">@Model.Article.Title</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">writed by @Model.Article.Author</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">@Model.Article.Description</p>
                   
                </p>
                </section>
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4" method="POST"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!" asp-for="comment.commmentDescription"></textarea>
                                <input type="hidden" asp-for="Article.Id" />
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                          
                            @foreach (var comment in Model.Article.Comments)
                            {
                            <div class="d-flex mb-4">
                                
                               
                                

                                    
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                    <div class="ms-3">

                                        <div class="fw-bold">@comment.commentAuthor</div>
                                       
                                        @comment.commmentDescription

                                        
                                    </div>
                            </div>
                                    
                                    
                               
                               
                           
                            }
                        </div>
                        
                    </div>
                </section>
            </article>
            
          
        </div>
       
       
    </div>
</div>